@import '../../common/colors.scss';

.movie-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px 0;
    color: $secondary-color;
    font-weight: 400;
}

.movie-title {
    font-size: 40px;
}

.fa-calendar-days {
    color: gray;
}

.section-left {
    max-width: 500px;
}

.section-right {
    margin-left: 30px;
}