@import '../../common/component.scss';

.btn-login {
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    max-width: max-content;
    margin: 0 auto;

    &:hover {
        background-color: white;
        color: black;
    }
}