@import '../../common/component.scss';
.btn {
    padding: 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;

    &-next {
        background-color: green;
    }

    &-back {
        background-color: red;
    }
}