.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}
.title{
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.input{
    padding: 8px;
    border-radius: 5px;
}